#art-main
{
   background: #FFFFFF url('image/gambar10.jpg') fixed;
   margin:0 auto;
   font-size: 14px;
   font-family: arial;
   font-weight: normal;
   font-style: normal;
   position: relative;
   width: 100%;
   min-height: 100%;
   left: 0;
   top: 0;
   cursor:default;
   overflow:hidden;
}
table, ul.art-hmenu
{
   font-size: 14px;
   font-family: arial;
   font-weight: normal;
   font-style: normal;
}

h1, h2, h3, h4, h5, h6, p, a, ul, ol, li
{
   margin: 0;
   padding: 0;
}

/* Reset buttons border. It's important for input and button tags. 
 * border-collapse should be separate for shadow in IE. 
 */
.art-button
{
   border: 0;
   border-collapse: separate;
   -webkit-background-origin: border !important;
   -moz-background-origin: border !important;
   background-origin: border-box !important;
   background: #FFFFFF;
   background: linear-gradient(top, #FFFFFF 0, #D4C1AA 100%) no-repeat;
   background: -webkit-linear-gradient(top, #FFFFFF 0, #D4C1AA 100%) no-repeat;
   background: -moz-linear-gradient(top, #FFFFFF 0, #D4C1AA 100%) no-repeat;
   background: -o-linear-gradient(top, #FFFFFF 0, #D4C1AA 100%) no-repeat;
   background: -ms-linear-gradient(top, #FFFFFF 0, #D4C1AA 100%) no-repeat;
   background: linear-gradient(top, #FFFFFF 0, #D4C1AA 100%) no-repeat;
   -svg-background: linear-gradient(top, #FFFFFF 0, #D4C1AA 100%) no-repeat;
   -webkit-box-shadow:0 0 2px 1px rgba(0, 0, 0, 0.2);
   -moz-box-shadow:0 0 2px 1px rgba(0, 0, 0, 0.2);
   box-shadow:0 0 2px 1px rgba(0, 0, 0, 0.2);
   padding:0 17px;
   margin:0 auto;
   height:38px;
   border: 1px solid #B3B3B3;
}

.art-postcontent,
.art-postheadericons,
.art-postfootericons,
.art-blockcontent,
ul.art-vmenu a 
{
   text-align: left;
}

.art-postcontent,
.art-postcontent li,
.art-postcontent table,
.art-postcontent a,
.art-postcontent a:link,
.art-postcontent a:visited,
.art-postcontent a.visited,
.art-postcontent a:hover,
.art-postcontent a.hovered
{
   font-family: arial;
}

.art-postcontent p
{
   margin: 12px 0;
}

.art-postcontent h1, .art-postcontent h1 a, .art-postcontent h1 a:link, .art-postcontent h1 a:visited, .art-postcontent h1 a:hover,
.art-postcontent h2, .art-postcontent h2 a, .art-postcontent h2 a:link, .art-postcontent h2 a:visited, .art-postcontent h2 a:hover,
.art-postcontent h3, .art-postcontent h3 a, .art-postcontent h3 a:link, .art-postcontent h3 a:visited, .art-postcontent h3 a:hover,
.art-postcontent h4, .art-postcontent h4 a, .art-postcontent h4 a:link, .art-postcontent h4 a:visited, .art-postcontent h4 a:hover,
.art-postcontent h5, .art-postcontent h5 a, .art-postcontent h5 a:link, .art-postcontent h5 a:visited, .art-postcontent h5 a:hover,
.art-postcontent h6, .art-postcontent h6 a, .art-postcontent h6 a:link, .art-postcontent h6 a:visited, .art-postcontent h6 a:hover,
.art-blockheader .t, .art-blockheader .t a, .art-blockheader .t a:link, .art-blockheader .t a:visited, .art-blockheader .t a:hover,
.art-vmenublockheader .t, .art-vmenublockheader .t a, .art-vmenublockheader .t a:link, .art-vmenublockheader .t a:visited, .art-vmenublockheader .t a:hover,
.art-headline, .art-headline a, .art-headline a:link, .art-headline a:visited, .art-headline a:hover,
.art-slogan, .art-slogan a, .art-slogan a:link, .art-slogan a:visited, .art-slogan a:hover,
.art-postheader, .art-postheader a, .art-postheader a:link, .art-postheader a:visited, .art-postheader a:hover
{
   font-size: 35px;
   font-family: arial;
   font-weight: bold;
   font-style: normal;
   text-decoration: none;
}

.art-postcontent a, .art-postcontent a:link
{
   font-family: arial;
   text-decoration: none;
   color: #E46E53;
}

.art-postcontent a:visited, .art-postcontent a.visited
{
   font-family: arial;
   text-decoration: none;
   color: #E46E53;
}

.art-postcontent  a:hover, .art-postcontent a.hover
{
   font-family: arial;
   text-decoration: underline;
   color: #EC9783;
}

.art-postcontent h1
{
   color: #FF8700;
 margin: 10px 0px 10px;
   font-size: 31px;
   font-family: arial;
   font-weight: normal;
   font-style: normal;
}

.art-blockcontent h1
{
   margin: 0 0 10px;
   font-size: 31px;
   font-family: arial;
   font-weight: normal;
   font-style: normal;
}

.art-postcontent h1 a, .art-postcontent h1 a:link, .art-postcontent h1 a:hover, .art-postcontent h1 a:visited, .art-blockcontent h1 a, .art-blockcontent h1 a:link, .art-blockcontent h1 a:hover, .art-blockcontent h1 a:visited 
{
   font-size: 31px;
   font-family: arial;
   font-weight: normal;
   font-style: normal;
}

.art-postcontent h2
{
   color: #808080;
   margin: 19px 0;
   font-size: 26px;
   font-family: arial;
   font-weight: normal;
   font-style: normal;
}

.art-blockcontent h2
{
   margin: 19px 0;
   font-size: 26px;
   font-family: arial;
   font-weight: normal;
   font-style: normal;
}

.art-postcontent h2 a, .art-postcontent h2 a:link, .art-postcontent h2 a:hover, .art-postcontent h2 a:visited, .art-blockcontent h2 a, .art-blockcontent h2 a:link, .art-blockcontent h2 a:hover, .art-blockcontent h2 a:visited 
{
   font-size: 26px;
   font-family: arial;
   font-weight: normal;
   font-style: normal;
}

.art-postcontent h3
{
   color: #AA8255;
   margin: 19px 0;
   font-size: 21px;
   font-family: arial;
   font-weight: normal;
   font-style: normal;
}

.art-blockcontent h3
{
   margin: 19px 0;
   font-size: 21px;
   font-family: arial;
   font-weight: normal;
   font-style: normal;
}

.art-postcontent h3 a, .art-postcontent h3 a:link, .art-postcontent h3 a:hover, .art-postcontent h3 a:visited, .art-blockcontent h3 a, .art-blockcontent h3 a:link, .art-blockcontent h3 a:hover, .art-blockcontent h3 a:visited 
{
   font-size: 21px;
   font-family: arial;
   font-weight: normal;
   font-style: normal;
}

.art-postcontent h4
{
   color: #258902;
   margin: 0px;
   font-size: 31px;
   font-family: arial;
   font-weight: normal;
   font-style: normal;
}

.art-blockcontent h4
{
   margin: 30px 0 -10px;
   font-size: 31px;
   font-family: arial;
   font-weight: normal;
   font-style: normal;
}

.art-postcontent h4 a, .art-postcontent h4 a:link, .art-postcontent h4 a:hover, .art-postcontent h4 a:visited, .art-blockcontent h4 a, .art-blockcontent h4 a:link, .art-blockcontent h4 a:hover, .art-blockcontent h4 a:visited 
{
   font-size: 31px;
   font-family: arial;
   font-weight: normal;
   font-style: normal;
}

.art-postcontent h5
{
   color: #47160B;
   margin-top: 26px;
   margin-bottom: 26px;
   font-size: 14px;
   font-family: arial;
}

.art-blockcontent h5
{
   margin-top: 26px;
   margin-bottom: 26px;
   font-size: 14px;
   font-family: arial;
}

.art-postcontent h5 a, .art-postcontent h5 a:link, .art-postcontent h5 a:hover, .art-postcontent h5 a:visited, .art-blockcontent h5 a, .art-blockcontent h5 a:link, .art-blockcontent h5 a:hover, .art-blockcontent h5 a:visited 
{
   font-size: 14px;
   font-family: arial;
}

.art-postcontent h6
{
   color: #A8341A;
   margin-top: 35px;
   margin-bottom: 35px;
   font-size: 12px;
   font-family: arial;
}

.art-blockcontent h6
{
   margin-top: 35px;
   margin-bottom: 35px;
   font-size: 12px;
   font-family: arial;
}

.art-postcontent h6 a, .art-postcontent h6 a:link, .art-postcontent h6 a:hover, .art-postcontent h6 a:visited, .art-blockcontent h6 a, .art-blockcontent h6 a:link, .art-blockcontent h6 a:hover, .art-blockcontent h6 a:visited 
{
   font-size: 12px;
   font-family: arial;
}

header, footer, article, nav, #art-hmenu-bg, .art-sheet, .art-hmenu a, .art-vmenu a, .art-slidenavigator > a, .art-checkbox:before, .art-radiobutton:before
{
   -webkit-background-origin: border !important;
   -moz-background-origin: border !important;
   background-origin: border-box !important;
}

header, footer, article, nav, #art-hmenu-bg, .art-sheet, .art-slidenavigator > a, .art-checkbox:before, .art-radiobutton:before
{
   display: block;
   -webkit-box-sizing: border-box;
   -moz-box-sizing: border-box;
   box-sizing: border-box;
}

ul
{
   list-style-type: none;
}

ol
{
   list-style-position: inside;
}

html, body
{
   height: 100%;
}

body
{
   padding: 0;
   margin:0;
   min-width: 900px;
   color: #362A1B;
}

.clearfix:before, .clearfix:after {
   content: "";
   display: table;
}

.clearfix:after {
   clear: both;
}

.cleared {
   font: 0/0 serif;
   clear: both;
}

form
{
   padding: 0 !important;
   margin: 0 !important;
}

table.position
{
   position: relative;
   width: 100%;
   table-layout: fixed;
}

li h1, .art-postcontent li h1, .art-blockcontent li h1 
{
   margin:1px;
} 
li h2, .art-postcontent li h2, .art-blockcontent li h2 
{
   margin:1px;
} 
li h3, .art-postcontent li h3, .art-blockcontent li h3 
{
   margin:1px;
} 
li h4, .art-postcontent li h4, .art-blockcontent li h4 
{
   margin:1px;
} 
li h5, .art-postcontent li h5, .art-blockcontent li h5 
{
   margin:1px;
} 
li h6, .art-postcontent li h6, .art-blockcontent li h6 
{
   margin:1px;
} 
li p, .art-postcontent li p, .art-blockcontent li p 
{
   margin:1px;
}


.art-shapes
{
   position: absolute;
   top: 0;
   right: 0;
   bottom: 0;
   left: 0;
   overflow: hidden;
   z-index: 0;
}

.art-slider-inner {
   position: relative;
   overflow: hidden;
   width: 100%;
   height: 100%;
}

.art-slidenavigator > a {
   display: inline-block;
   vertical-align: middle;
   outline-style: none;
   font-size: 1px;
}

.art-slidenavigator > a:last-child {
   margin-right: 0 !important;
}


.art-textblock ul > li
{
    background-position-y: 8px !important;
}
.art-headline
{
  display: inline-block;
  position: absolute;
  min-width: 50px;
  top: 55px;
  left: 1.40%;
  line-height: 100%;
  margin-left: -9px !important;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  transform: rotate(0deg);
  z-index: 99;
}

.art-headline, 
.art-headline a, 
.art-headline a:link, 
.art-headline a:visited, 
.art-headline a:hover
{
font-size: 49px;
font-family: arial;
font-weight: bold;
font-style: normal;
text-decoration: none;
  padding: 0;
  margin: 0;
  color: #204499 ;
  white-space: nowrap;
}
.art-slogan
{
  display: inline-block;
  position: absolute;
  min-width: 50px;
  top: 100px;
  left: 0.90%;
  line-height: 100%;
  margin-left: -9px !important;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  transform: rotate(0deg);
  z-index: 99;
  white-space: nowrap;
}

.art-slogan, 
.art-slogan a, 
.art-slogan a:link, 
.art-slogan a:visited, 
.art-slogan a:hover
{
font-size: 19px;
font-family: arial;
font-weight: bold;
font-style: normal;
text-decoration: none;
  padding: 0;
  margin: 0;
  color: #898989  !important;
}




.art-footer .layout-item-0 { padding: 20px;  }
.ie7 .post .layout-cell {border:none !important; padding:0 !important; }
.ie6 .post .layout-cell {border:none !important; padding:0 !important; }

.art-nav
{
 
  background: #454545;
   background: linear-gradient(top,#247E03, #1A5C02, #247E03   100%) no-repeat;
   background: -webkit-linear-gradient(top,#247E03, #1A5C02, #247E03   100%) no-repeat;
   background: -moz-linear-gradient(top,#247E03, #1A5C02, #247E03   100%) no-repeat;
   background: -o-linear-gradient(top,#247E03, #1A5C02, #247E03   100%) no-repeat;
   background: -ms-linear-gradient(top,#247E03, #1A5C02, #247E03   100%) no-repeat;
   background: linear-gradient(top,#247E03, #1A5C02, #247E03   100%) no-repeat;
   -svg-background: linear-gradient(top,#247E03, #1A5C02, #247E03   100%) no-repeat;
   margin:0px auto 0;
   position: relative;
   z-index: 100;
   font-size: 0;
   width: 1000px;
 box-shadow: 1px 1px 6px rgba(101, 101, 101, 0.58);
 
 
}


ul.art-hmenu a, ul.art-hmenu a:link, ul.art-hmenu a:visited, ul.art-hmenu a:hover 
{
   outline: none;
   position: relative;
   z-index: 11;
}

ul.art-hmenu, ul.art-hmenu ul
{
   display: block;
   margin: 0;
   padding: 0;
   border: 0;
   list-style-type: none;
}

ul.art-hmenu li
{
   position: relative;
   z-index: 5;
   display: block;
   float: left;
   background: none;
   margin: 0;
   padding: 0;
   border: 1px solid #196000;
   
}

ul.art-hmenu li:hover
{
   z-index: 10000;
   white-space: normal;
}

ul.art-hmenu:after, ul.art-hmenu ul:after
{
   content: ".";
   height: 0;
   display: block;
   visibility: hidden;
   overflow: hidden;
   clear: both;
}

ul.art-hmenu, ul.art-hmenu ul 
{
   min-height: 0;
}

ul.art-hmenu 
{
   display: inline-block;
   vertical-align: bottom;
   padding-left: 0;
   padding-right: 0;
}

.art-nav-inner:before 
{
   content:' ';
}

.art-nav-inner{
   text-align: left;
   margin:0 auto;
}

.desktop-nav .art-nav-inner{
   width: 900px;
   padding-left: 0;
   padding-right: 0;
}

.desktop-nav.art-nav
{
   padding-left: 0;
   padding-right: 0;
}

.art-hmenu-extra1
{
   position: relative;
   display: block;
   float: left;
   width: auto;
   height: auto;
   background-position: center;
}

.art-hmenu-extra2
{
   position: relative;
   display: block;
   float: right;
   width: auto;
   height: auto;
   background-position: center;
}

.art-hmenu
{
   float: left;
}

.art-menuitemcontainer
{
   margin:0 auto;
}
ul.art-hmenu>li {
   margin-left: 0px;
}
ul.art-hmenu>li:first-child {
   margin-left: 2px;
}
ul.art-hmenu>li:last-child, ul.art-hmenu>li.last-child {
   margin-right: 2px;
}

ul.art-hmenu>li>a
{
   padding:0 40px;
   margin:0 auto;
   position: relative;
   display: block;
   height: 54px;
   cursor: pointer;
   text-decoration: none;
   color: #fff;
   line-height: 54px;
   text-align: center;
}

.art-hmenu a, 
.art-hmenu a:link, 
.art-hmenu a:visited, 
.art-hmenu a.active, 
.art-hmenu a:hover
{
   font-size: 20px;
   font-family: arial;
   font-weight: normal;
   font-style: normal;
   text-decoration: none;
   text-align: left;
}

ul.art-hmenu>li>a.active
{
   background: #DE0E15;
   padding:0 40px;
   margin:0 auto;
   color: #fff;
   text-decoration: none;
}

ul.art-hmenu>li>a:visited, 
ul.art-hmenu>li>a:hover, 
ul.art-hmenu>li:hover>a {
   text-decoration: none;
}

ul.art-hmenu>li>a:hover, .desktop ul.art-hmenu>li:hover>a
{
   background: #07013d;
   padding:0 40px;
   margin:0 auto;
}
ul.art-hmenu>li>a:hover, 
.desktop-nav ul.art-hmenu>li:hover>a {
   color: #fff;
   text-decoration: none;
}

ul.art-hmenu li li a
{
   background: #D3BEA7;
   padding:0 8px;
   margin:0 auto;
}
ul.art-hmenu li li 
{
   float: none;
   width: auto;
   margin-top: 0;
   margin-bottom: 0;
}

.desktop-nav ul.art-hmenu li li ul>li:first-child 
{
   margin-top: 0;
}

ul.art-hmenu li li ul>li:last-child 
{
   margin-bottom: 0;
}

.art-hmenu ul a
{
   display: block;
   white-space: nowrap;
   height: 24px;
   min-width: 7em;
   border: 0 solid transparent;
   text-align: left;
   line-height: 24px;
   color: #2F2418;
   font-size: 13px;
   font-family: arial;
   text-decoration: none;
   margin:0;
}

.art-hmenu ul a:link, 
.art-hmenu ul a:visited, 
.art-hmenu ul a.active, 
.art-hmenu ul a:hover
{
   text-align: left;
   line-height: 24px;
   color: #2F2418;
   font-size: 13px;
   font-family: arial;
   text-decoration: none;
   margin:0;
}

ul.art-hmenu ul li a:hover, .desktop ul.art-hmenu ul li:hover>a
{
   background: #C3A888;
   margin:0 auto;
}

.art-hmenu ul li a:hover
{
   color: #000000;
}

.desktop-nav .art-hmenu ul li:hover>a
{
   color: #000000;
}

ul.art-hmenu ul:before
{
   background: #C73E1F;
   margin:0 auto;
   display: block;
   position: absolute;
   content: ' ';
   z-index: 1;
}
.desktop-nav ul.art-hmenu li:hover>ul {
   visibility: visible;
   top: 100%;
}
.desktop-nav ul.art-hmenu li li:hover>ul {
   top: 0;
   left: 100%;
}

ul.art-hmenu ul
{
   visibility: hidden;
   position: absolute;
   z-index: 10;
   left: 0;
   top: 0;
   background-image: url('images/spacer.gif');
}

.desktop-nav ul.art-hmenu>li>ul
{
   padding: 10px 30px 30px 30px;
   margin: -10px 0 0 -30px;
}

.desktop-nav ul.art-hmenu ul ul
{
   padding: 30px 30px 30px 10px;
   margin: -30px 0 0 -10px;
}

.desktop-nav ul.art-hmenu ul.art-hmenu-left-to-right 
{
   right: auto;
   left: 0;
   margin: -10px 0 0 -30px;
}

.desktop-nav ul.art-hmenu ul.art-hmenu-right-to-left 
{
   left: auto;
   right: 0;
   margin: -10px -30px 0 0;
}

.desktop-nav ul.art-hmenu li li:hover>ul.art-hmenu-left-to-right {
   right: auto;
   left: 100%;
}
.desktop-nav ul.art-hmenu li li:hover>ul.art-hmenu-right-to-left {
   left: auto;
   right: 100%;
}

.desktop-nav ul.art-hmenu ul ul.art-hmenu-left-to-right
{
   right: auto;
   left: 0;
   padding: 30px 30px 30px 10px;
   margin: -30px 0 0 -10px;
}

.desktop-nav ul.art-hmenu ul ul.art-hmenu-right-to-left
{
   left: auto;
   right: 0;
   padding: 30px 10px 30px 30px;
   margin: -30px -10px 0 0;
}

.desktop-nav ul.art-hmenu li ul>li:first-child {
   margin-top: 0;
}
.desktop-nav ul.art-hmenu li ul>li:last-child {
   margin-bottom: 0;
}

.desktop-nav ul.art-hmenu ul ul:before
{
   border-radius: 0;
   top: 30px;
   bottom: 30px;
   right: 30px;
   left: 10px;
}

.desktop-nav ul.art-hmenu>li>ul:before
{
   top: 10px;
   right: 30px;
   bottom: 30px;
   left: 30px;
}

.desktop-nav ul.art-hmenu>li>ul.art-hmenu-left-to-right:before {
   right: 30px;
   left: 30px;
}
.desktop-nav ul.art-hmenu>li>ul.art-hmenu-right-to-left:before {
   right: 30px;
   left: 30px;
}
.desktop-nav ul.art-hmenu ul ul.art-hmenu-left-to-right:before {
   right: 30px;
   left: 10px;
}
.desktop-nav ul.art-hmenu ul ul.art-hmenu-right-to-left:before {
   right: 10px;
   left: 30px;
}

.art-header
{
   margin:0 auto;
   position:relative;
   height: 130px;
   width: 1000px;
  
}


.art-header-inner{
   position: relative;
   width: 1000px;
   z-index: auto !important;
   margin: 0 auto;
}

.art-header>.widget 
{
   position:absolute;
   z-index:101;
}

.art-sheet
{
   background: #FFF;
   margin:0 auto;
   position:relative;
   cursor:auto;
   width: 1000px;
   z-index: auto !important;
   padding: 15px;
    box-shadow: 1px 1px 6px rgba(101, 101, 101, 0.58);
}

.art-layout-wrapper
{
   position: relative;
   margin: 0 auto 0 auto;
   z-index: auto !important;
}

.art-content-layout
{
   display: table;
   width: 100%;
   table-layout: fixed;
   border-collapse: collapse;
}

.art-content-layout-row 
{
   display: table-row;
   
}

.art-layout-cell
{
   display: table-cell;
   vertical-align: top;
}

.art-block
{
   margin:10px;
}
div.art-block img
{
   border: none;
   margin: 0;
}

.art-blockheader
{
   background: #E15F41;
   padding:12px 15px;
   margin:0 auto;
}
.art-blockheader .t,
.art-blockheader .t a,
.art-blockheader .t a:link,
.art-blockheader .t a:visited, 
.art-blockheader .t a:hover
{
   color: #000000;
   font-size: 14px;
   font-family: arial;
   margin-left: 10px;
   margin-right: 10px;
}

.art-blockcontent
{
   background: #F0F0F0;
   padding:15px;
   margin:0 auto;
   color: #4B3926;
   font-size: 14px;
   font-family: arial;
}
.art-blockcontent table,
.art-blockcontent li, 
.art-blockcontent a,
.art-blockcontent a:link,
.art-blockcontent a:visited,
.art-blockcontent a:hover
{
   color: #4B3926;
   font-size: 14px;
   font-family: arial;
}

.art-blockcontent p
{
   margin: 6px 0;
}

.art-blockcontent a, .art-blockcontent a:link
{
   color: #949494;
   font-family: arial;
   text-decoration: underline;
}

.art-blockcontent a:visited, .art-blockcontent a.visited
{
   color: #C7AD8F;
   font-family: arial;
   text-decoration: none;
}

.art-blockcontent a:hover, .art-blockcontent a.hover
{
   color: #949494;
   font-family: arial;
   text-decoration: none;
}
.art-block ul>li:before
{
   content:url('images/blockbullets.png');
   margin-right:6px;
   bottom: 2px;
   position:relative;
   display:inline-block;
   vertical-align:middle;
   font-size:0;
   line-height:0;
   margin-left: -9px;
}
.opera .art-block ul>li:before
{
   /* Vertical-align:middle in Opera doesn't need additional offset */
    bottom: 0;
}

.art-block li
{
   font-size: 14px;
   font-family: arial;
   line-height: 125%;
   color: #664E33;
}

.art-block ul>li, .art-block ol
{
   padding: 0;
}

.art-block ul>li
{
   padding-left: 9px;
}

.art-breadcrumbs
{
   margin:0 auto;
}

a.art-button,
a.art-button:link,
a:link.art-button:link,
body a.art-button:link,
a.art-button:visited,
body a.art-button:visited,
input.art-button,
button.art-button
{
   text-decoration: none;
   font-size: 15px;
   font-family: arial;
   font-weight: normal;
   font-style: normal;
   position:relative;
   display: inline-block;
   vertical-align: middle;
   white-space: nowrap;
   text-align: center;
   color: #1F6D02;
   margin: 0 !important;
   overflow: visible;
   cursor: pointer;
   text-indent: 0;
   line-height: 38px;
   -webkit-box-sizing: content-box;
   -moz-box-sizing: content-box;
   box-sizing: content-box;
}

.art-button img
{
   margin: 0;
   vertical-align: middle;
}

.firefox2 .art-button
{
   display: block;
   float: left;
}

input, select, textarea
{
   vertical-align: middle;
   font-size: 15px;
   font-family: arial;
   font-weight: normal;
   font-style: normal;
}

.art-block select 
{
   width:96%;
}

input.art-button
{
   float: none !important;
}

.art-button.active, .art-button.active:hover
{
   background: #A6A6A6;
   background: linear-gradient(top, rgba(191, 191, 191, 0.8) 0, rgba(138, 138, 138, 0.8) 100%) no-repeat;
   background: -webkit-linear-gradient(top, rgba(191, 191, 191, 0.8) 0, rgba(138, 138, 138, 0.8) 100%) no-repeat;
   background: -moz-linear-gradient(top, rgba(191, 191, 191, 0.8) 0, rgba(138, 138, 138, 0.8) 100%) no-repeat;
   background: -o-linear-gradient(top, rgba(191, 191, 191, 0.8) 0, rgba(138, 138, 138, 0.8) 100%) no-repeat;
   background: -ms-linear-gradient(top, rgba(191, 191, 191, 0.8) 0, rgba(138, 138, 138, 0.8) 100%) no-repeat;
   background: linear-gradient(top, rgba(191, 191, 191, 0.8) 0, rgba(138, 138, 138, 0.8) 100%) no-repeat;
   -svg-background: linear-gradient(top, rgba(191, 191, 191, 0.8) 0, rgba(138, 138, 138, 0.8) 100%) no-repeat;
   -webkit-box-shadow:0 0 2px 1px rgba(0, 0, 0, 0.16);
   -moz-box-shadow:0 0 2px 1px rgba(0, 0, 0, 0.16);
   box-shadow:0 0 2px 1px rgba(0, 0, 0, 0.16);
   padding:0 17px;
   margin:0 auto;
}
.art-button.active, .art-button.active:hover {
   color: #881C0C !important;
}

